@page "/News"

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="nav">
            <a href="" class="logo"><img class="baseballlogo" src="/image/logo.jpg" /> </a>

                <a href="/" class="header_nav">Games</a>
                <a href="/Teams" class="header_nav">Teams</a>
                <a href="/News" class="header_nav">News</a>
         
           
        </div>

        <div class="login">
            <a href="/LogIn" class="login_button">login</a>
            <a href="/SignIn" class="signin_button">Sign in</a>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="news">
                <div class="main_inner_text">
                    <h1 class="main_inner_title">News</h1>
                </div>
                <NewsList />
                
            </div>

         </div>

    </main>
    <footer>
        <div class="container">
        <div class = "my_info">
            <p>Telephone: +480506426433</p>
            <a class ="inst"href="https://www.instagram.com/_zlidik_/"><p>My instagram</p></a>
            <p>Design by Danyil Muzychenko with love;)</p>
            
        </div>
    </div>
    </footer>
    
    </body>
@code {

}
