@page "/Teams"

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
    
    <header class="header">
        <div class="nav">
            <a href="" class="logo"><img class="baseballlogo" src="/image/logo.jpg" /> </a>
                
                <a href="/" class="header_nav">Games</a>
                <a href="/Teams" class="header_nav">Teams</a>
                <a href="/News" class="header_nav">News</a>
           
           
        </div>

        <div class="login">
            <a href="/LogIn" class="login_button">login</a>
            <a href="/SignIn" class="signin_button">Sign in</a>
        </div>
    </header>

    <main>
        <div class="container"> 
            <div class ="teams">
                <div class="main_inner_text">
                    <h1 class="main_inner_title">Teams</h1>
                 </div>
               <div class ="up">
                    <div>
                        <div class="atlantics_text">Atlantics</div>
                        <div id = "card_team" ><img class ="teams_img" src ="/image/teams/Baltimore.png"><div class="text_team">Baltimore Orioles</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/RedSox.png"><div class="text_team">Bostorn Red Sox</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/NewYork.png"><div class="text_team">New York Yankees</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Tamba.png"><div class="text_team">Tampa Bay Rays</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Toronto.png"><div class="text_team">Toronto Blue Jays</div></div>
                    </div>
                    <div >
                        <div class="central_text">Central</div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/WhiteSox.png"><div class="text_team">Chicago White Sox</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Guardians.png"><div class="text_team">Cleveland Guardians</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Tigers.png"><div class="text_team">Detroit Tigers</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Royals.png"><div class="text_team">Kansas City Royals</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Twins.png"><div class="text_team">Minnesota Twins</div></div>
                    </div>
                    <div >
                        <div class="southeast_text">SouthEast</div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Astros.png"><div class="text_team">Houston Astros</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Angels.png"><div class="text_team">Los Angeles Angels</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Athletics.png"><div class="text_team">Oakland Athletics</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Marines.png"><div class="text_team">Seattle Marines</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Texas.png"><div class="text_team">Texas Rangers</div></div>
                    </div>
               </div>
               <div class ="down">
                    <div >
                        <div class="northwest_text">Northwest</div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Braves.png"><div class="text_team">Atlanta Braves</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Miami.png"><div class="text_team">Miami Marlins</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Mets.png"><div class="text_team">New York Mets</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Philies.png"><div class="text_team">Philadelphia Phillies</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Washington.png"><div class="text_team">Washington Nationals</div></div>
                    </div>
                    <div >
                        <div class="pacific_text">Pacific</div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Cubs.png"><div class="text_team">Chicago Cubs</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Reds.png"><div class="text_team">Cincinnati Reds</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Milwake.png"><div class="text_team">Milwaukee Brewers</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Pirates.png"><div class="text_team">Pittsburgh Pirates</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Cardinals.png"><div class="text_team">St.Louis Cardinals</div></div>
                    </div>
                    <div >
                        <div class="southwest_text">SouthWest</div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Arizona.png"><div class="text_team">Arizona DiamondBaks</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Rockies.png"><div class="text_team">Colorado Rockies</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Dodgers.png"><div class="text_team">Los Angeles Dodgers</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/sandiego.png"><div class="text_team">San Diego Padres</div></div>
                        <div id="card_team"><img class="teams_img" src="/image/teams/Giants.png"><div class="text_team">San Francisco Giants</div></div>
                    </div>
               </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
        <div class = "my_info">
            <p>Telephone: +480506426433</p>
            <a class ="inst"href="https://www.instagram.com/_zlidik_/"><p>My instagram</p></a>
            <p>Design by Danyil Muzychenko with love;)</p>
            
        </div>
    </div>
    </footer>
</body>

@code {

}
